---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/enterprises/test-enterprise-fnaoto/organizations/test-organization-fnaoto/users
    method: GET
  response:
    body: '{"error":false,"users":[{"type":"User","name":"naoto-fukuda-test","icon_url":"https://secure.gravatar.com/avatar/b8522f0e74e1673596e2c15dca95c04a?s=218\u0026d=mm","url":"https://deploygate.com/users/naoto-fukuda-test"}]}'
    headers: {}
    status: 200 OK
    code: 200
    duration: ""
